
/*GENERAL SELECTORS*/

li{
   list-style-type: none; 
   margin: 12px;
}

ul{
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
}


/*HEADER*/

header{
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
    margin: 12px;
}

.header-right{}

/*SECTION 1*/

.one{
    
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-one-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 400px;

    color: #f9faf8;
}

.section-one-content-tittle{
   
}

.section-one-image-container{
    
}

.section-one-image{
    max-width: 400px;
    margin: 12px;
}


/*SECTION 2*/

.two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-two-tittle-container{
    
}

.small-img{

    max-width: 200px;
    max-height: 200px;
}

/*section 3*/

/*section 4*/

/*Footer*/