
/*header*/

header{
    background-color: #1F2937;
}

.logo{
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}

.header-right{}

/*section 1*/

/*section 2*/

/*section 3*/

/*section 4*/

/*Footer*/